#!/bin/sh
# Proxy3 file

PROGRAM=/usr/sbin/avahi-ps
NAME=$(basename $0|sed -n 's/\(.*\).service/\1/p')
DESCRIBE="Proxy3_System"
TYPE="proxy3"
PORT="3128"
TXT='Federated=Yes'
CONFIG_FILE="/etc/guifi-proxy3/config.sh"

start()
{
	echo "Start $NAME"
	$PROGRAM publish $DESCRIBE $TYPE $PORT "$TXT"
}

stop()
{
	echo "Stop $NAME"
	$PROGRAM unpublish $TYPE $PORT
}

check()
{
    # Exist config file 
  [ ! -f $CONFIG_FILE ] && return 1

  # Esta actiu el dns al port XX
  netstat -nlt|grep ":$PORT"|grep -q LISTEN || return 1
 
  # Fer un curl al proxy?
  #curl  --connect-timeout 5 --max-time 5 -sL -w "%{http_code}\\n" "http://localhost:3128/errorpage" -o /dev/null
  
	return 0
}

case "$1" in
  start)
    start
  ;;
  stop)
    stop
  ;;
  check)
    if check 
    	then
    	start
    fi
  ;;
  isActive)
    echo -n "$NAME "
    check && (echo "UP"; exit 0) || (echo "DOWN";exit 1)
  ;;
  *)
    exit 1
  ;;
esac

exit 0
