#!/bin/sh
#TINCVPN file

PROGRAM=/usr/sbin/avahi-ps
NAME=$(basename $0|sed -n 's/\(.*\).service/\1/p')
DESCRIBE="TincVPN_System"
TYPE="tincvpn"
PORT="665"
TXT=""


start()
{
	echo "Start $NAME"
	$PROGRAM publish $DESCRIBE $TYPE $PORT
}

stop()
{
	echo "Stop $NAME"
	$PROGRAM unpublish $TYPE $PORT
}

check()
{
	return 0
}

case "$1" in
  start)
    start
  ;;
  stop)
    stop
  ;;
  check)
    if check 
    	then
    	start
    fi
  ;;
  isActive)
    echo -n "$NAME "
    check && (echo "UP"; exit 0) || (echo "DOWN";exit 1)
  ;;
  *)
    exit 1
  ;;
esac

exit 0
